.fondoNav {
  height: auto;
  background-image: url(/public/img/cinema-strip-2713352_960_720.webp);
  background-size: cover;
  background-repeat: no-repeat;
  
  background-color: var(--gray);
}

h1 {
  font-size: 3rem;
 }
